body {
    margin: 0;
    padding: 0;
    background: #ffe;
    font-size: 12px;
    overflow: auto
}

#mainDiv {
    width: 100%;
    height: 100%
}

#loveHeart {
    float: left;
    width: 670px;
    height: 625px
}

#garden {
    width: 100%;
    height: 100%
}

#elapseClock {
    text-align: right;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px
}

#words {
    font-family: "sans-serif";
    width: 500px;
    font-size: 24px;
    color: #666
}

#messages {
    display: none
}

#elapseClock .digit {
    font-family: "digit";
    font-size: 36px
}

#loveu {
    padding: 5px;
    font-size: 22px;
    margin-top: 80px;
    margin-right: 120px;
    text-align: right;
    display: none
}

#loveu .signature {
    margin-top: 10px;
    font-size: 20px;
    font-style: italic
}

#clickSound {
    display: none
}

#code {
    float: left;
    width: 440px;
    height: 400px;
    color: #333;
    font-family: "Consolas", "Monaco", "Bitstream Vera Sans Mono", "Courier New", "sans-serif";
    font-size: 12px
}

#code .string {
    color: #2a36ff
}

#code .keyword {
    color: #7f0055;
    font-weight: bold
}

#code .placeholder {
    margin-left: 15px
}

#code .space {
    margin-left: 7px
}

#code .comments {
    color: #3f7f5f
}

#errorMsg {
    width: 100%;
    text-align: center;
    font-size: 24px;
    position: absolute;
    top: 100px;
    left: 0
}

ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}

.note {
    flex: 3;
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.image-container {
    flex: 1;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.wrapper {
    margin: 10px;
    display: grid;
    gap: 0px;
    background: #88ABFF;
    padding: 20px;
    border-radius: 5px;
}

.ntitle {
    text-align: center;
    font-size: 25px;
    border-radius: 5px;
    padding: 10px 20px 10px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    width: 60%; /* Set a specific width instead of calc(100% - 50px) */
    margin: 0 auto; /* Center the element horizontally */
    grid-column: 1 / -1; /* Span across all columns */
    font-weight: 1000;
}

.wrapper .note {
    max-width: 70%;
    list-style: none;
    border-radius: 5px;
    padding: 15px 20px 20px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.note .details {
    max-height: 100%;
    overflow-y: auto;
    padding-bottom: 20px; /* Added padding for better styling */
}

.note .details::-webkit-scrollbar {
    width: 0;
}

.note .details:hover::-webkit-scrollbar {
    width: 5px;
}

.note .details:hover::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
}

.note .details:hover::-webkit-scrollbar-thumb {
    background: #e6e6e6;
    border-radius: 25px;
}

.note p {
    font-size: 25px;
    font-weight: 700;
    margin: 0; /* Remove margin to prevent extra space */
}

.note span {
    display: block;
    color: #575757;
    font-size: 20px;
    margin-top: 5px;
}

.note .bottom-content {
    padding-top: 10px;
    border-top: 1px solid #ccc;
}

.note .bottom-content span {
    color: #6D6D6D;
    font-size: 20px;
}
